 
.text {
    font-size: 23px;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
    left: 0;
    width: 100%;
    border: 20px solid red;
}

@media (max-width: 768px) {
    h2 {
        text-align: center;
    }
    .container-toggler {
        width: 100%;
        /* margin-right: 0; */
    }
    h1 {
        border-top: 10px solid blue;
        margin: 0 auto;
        width: 100px;
    }
    .img-fluid {
        /* border: 10px solid red; */
        width: 100%;
        height: 265px;
        align-content: center;
    }
    .img-1 {
        margin: 0;
        padding-left: 0;
        width: 100%;
       
    }

    footer .container-fluid {
        border-top: 1px solid #ffffff;
    }

    #formGroupExampleInput2 {
        padding-bottom: 50px;
    }
  
}