body {
    background-image: url(/hexabump.png);
    box-sizing: border-box;
}

.navbar {
    height: 80px;
    /* border: 1px solid red; */
}

.navbar-header {
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 80px;
    width: 270px;
    background-color: #4abbb5;
}

nav-item:before {
    content: " | ";
    padding: 0 10px;
}

/* 
.nav-item {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration-line: none;
    float: right;
    margin-top: 0px;
    padding: 10px;
    list-style-type: none;
}  */

@media screen and (max-width: 768px) {
    container {
        width: 100%;
        padding: 20px;
    }
    .thumbnail {
        width: 200px;
        height: 270px;
    }